extends layout
block content
  .chat-room-wrapper(ng-show='hasLogined')
    .online.panel.panel-success
      .panel-heading
        h3.panel-title
          | 在线
          span.user-number {{users.length-1}}[{{nickname}}]
      .user-wrapper.panel-body
        user(ng-repeat="user in users",info='user' ng-click='setReceiver(user)')

    .chat-room.panel.panel-success
      .panel-heading
        h3.panel-title {{receiver?receiver:"群聊"}}
      #msg_list.message-wrapper.panel-body
        message(ng-switch, on='message.type', ng-repeat='message in messages',scrolltothis='scrollToBottom()')

      .panel-footer
        form.post-form.form-inline(novalidate='', name='postform')
          input.form-control(type='text', ng-model='content', placeholder='说点什么呗', required='')
          button.btn.btn-success(type='submit',ng-click='sendMessage()') 发送
  div.userform-wrapper(ng-show='!hasLogined')
    form
      input(type='text',name='nickname',ng-model='nickname')
      input(type='submit',value='提交',ng-click='login()')
      span.error(ng-show='error') 该昵称已经被使用了
