div
    div.system-notification(ng-switch-when='welcome') {{info.content}} 加入聊天室
    div.system-notification(ng-switch-when='bye') {{info.content}} 退出聊天室
    div.normal-message(ng-switch-when='normal',ng-class='{others:self!==info.from,self:self===info.from}')
        .name-wrapper
            span {{info.from}} @
            span {{time |  date: 'HH:mm:ss' }}
        .content-wrapper
            span.content {{info.content}}
            span.avatar